fastapi
uvicorn[standard]
langchain-google-genai
pypdf
langchain>=0.2.0
langchain-community>=0.2.0
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb==0.4.22
sentence-transformers>=2.6.0
huggingface-hub>=0.23.0       
torch>=2.0.0


langchain-core==0.1.52
langchain==0.1.20
langchain-community==0.0.38
chromadb==0.4.24
langchain-google-genai==1.0.1


